* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PRIMARY COLORS */
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);

  /* NEUTRAL COLORS */
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);

  /* FONTS */
  --fontFamily: "Red Hat Display", sans-serif;
  --fontSizeParagraph: 1rem;
}

body {
  height: 100vh;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--PaleBlue);
  display: flex;
  align-items: center;
  font-family: var(--fontFamily);
}

.main__container {
  background-color: white;
  align-items: center;
  text-align: center;
  margin: 1.5rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
}

.main__image {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.main__title {
  margin-top: 1.6rem;
  font-size: 1.4rem;
}
.main__paragraph{
   font-weight:500;
   color: var(--DesaturatedBlue);
   font-size: var(--fontSizeParagraph);
   padding: 1rem 2rem;
   line-height: 1.5rem;
   letter-spacing: 0.1px;
   margin-bottom: 0.7rem;
}

.main__planBox{
  background-color: var(--VeryPaleBlue);
  padding: 1rem .8rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.main__iconMusic{
  width: 45px;

}
.main__annualPlan{
 margin-left: -1.4rem;
}
.main__planBox--title{
font-size: .9rem;
}

.main__planBox--change{
font-weight: 700;
font-size: .8rem;
}

.main__buttons{
  display: flex;
  flex-direction: column;
}
.main__buttons--proceed{
  margin: auto;
  margin-top: 1.6rem;
  width: 17.4rem;
  background-color: var(--BrightBlue);
  color: var(--VeryPaleBlue);
  padding: .8rem 0;
  border-radius: .5rem;
  font-weight: 900;
  text-decoration: none;
  box-shadow: 0 1rem 1.6rem rgb(163, 163, 225);


}
.main__buttons--cancel{
  margin-top: 1.8rem;
  color: var(--DesaturatedBlue);
  font-weight: 900;
  text-decoration: none;
}

